* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 5% 10%; /* padding: 60px; */
}

input {
  color: lightslategray;
  font-size: 1.2rem;
  margin: 0 0 2% 0;
  width: 50%;
}